{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <h1 class="geog_name">География</h1>
{% endblock%}

{% block content %}
<h1 class="geo">География</h1>
<p class="text-geo"></p>

<div class="geog">
<table class="geog_table">
    <thead>
    <tr>
        <th>город</th>
        <th>зарплата</th>
    </tr>
    </thead>
    <tbody>
    {% for i in one %}
    <tr>
        <th>{{i.city}}</th>
        <th>{{i.salary}}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <img src="{% static 'vacan/img/Figure_5.png' %}" alt="график_5">
</div>

<p class="text-geo"></p>
<div class="geog">
<table class="geog_table">
    <thead>
    <tr>
        <th>город</th>
        <th>зарплата</th>
    </tr>
    </thead>
    <tbody>
    {% for i in one %}
    <tr>
        <th>{{i.city}}</th>
        <th>{{i.salary}}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
        <img src="{% static 'vacan/img/Figure_6.png' %}" alt="график_6">
</div>
{% endblock%}