{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    <div class="first_page">
        <h1>{{ title }}</h1>
        <p>iOS-разработчик, или iOS developer, — это программист, который пишет сервисы и программы для айфонов. Из-за особенностей устройств Apple и их операционной системы для них нужно писать специальный код.</p>
        <p>Основной язык, на котором пишут код iOS-разработчики, — Swift. Apple разработала его специально для своих устройств в 2014 году. По сравнению с языком Objective-C, который использовали раньше, он более быстрый, простой и устойчивый к ошибкам.</p>
        <p>Чтобы писать на языке Swift, нужна специальная среда разработки — Xcode. Она корректно работает только на устройствах Apple: MacBook, iMac, Mac Pro, Mac Studio, Mac mini.</p>
        <p>iOS-разработчики пишут все сервисы, которые можно скачать в Apple Store. Игры, банковские приложения, заметки, службы доставки — результат труда iOS-разработчиков. Без них не обойтись ни одной компании, которая хочет адаптировать свои сервисы для устройств Apple.</p>
    </div>
    <div>
        <img src="../../static/vacan/img/home_ios.jpg" class="img_home"/>
    </div>
{% endblock%}