{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    <div class="first_page">
        <h1>{{ title }}</h1>
        <p>iOS-разработчик, или iOS developer, — это программист, который пишет сервисы и программы для айфонов. Из-за особенностей устройств Apple и их операционной системы для них нужно писать специальный код.</p>
        <p>Основной язык, на котором пишут код iOS-разработчики, — Swift. Apple разработала его специально для своих устройств в 2014 году. По сравнению с языком Objective-C, который использовали раньше, он более быстрый, простой и устойчивый к ошибкам.</p>
        <p>Чтобы писать на языке Swift, нужна специальная среда разработки — Xcode. Она корректно работает только на устройствах Apple: MacBook, iMac, Mac Pro, Mac Studio, Mac mini.</p>
        <p>iOS-разработчики пишут все сервисы, которые можно скачать в Apple Store. Игры, банковские приложения, заметки, службы доставки — результат труда iOS-разработчиков. Без них не обойтись ни одной компании, которая хочет адаптировать свои сервисы для устройств Apple.</p>
    </div>
    <div>
        <img src="../../static/vacan/img/home_ios.jpg" class="img_home"/>
    </div>
    <div>
        <p><b>Особенности iOS.</b> Как работает операционная система, хранятся данные и происходит отправка уведомлений и приём сообщений.</p>

        <p><b>Среда Xcode.</b> iOS-разработчик должен знать, как работают её функции, где расположены основные элементы интерфейса, как отлаживать и компилировать приложения в этой среде.</p>
        <p><b>Язык Swift.</b> Нужно разбираться в его синтаксисе, принципах объектно-ориентированного программирования, структурах, типах данных, коллекциях и других особенностях.
Swift регулярно меняется и обновляется, поэтому важно читать его актуальную документацию и заниматься на курсах, которые учитывают изменения языка. </p>
        <p><b>Работа с серверной частью приложения.</b> Как правило, у большинства сервисов есть серверная часть — к ней обращаются сайты и приложения как для iOS, так и для Android. Чтобы с ней работать, потребуется знание REST API и принципов передачи данных по сети.</p>
        <p><b>Хранение данных.</b> Нужно разбираться в базах данных Core Data, Realm, SQL, уметь составлять к ним запросы и сохранять в них информацию. Понадобятся знания о работе с облачными хранилищами, например Firebase.</p>
        <p><b>Фреймворки.</b> Фреймворк — это ПО, которое помогает объединить разные компоненты большого проекта. Например, в iOS-разработке для работы с графикой используют UIKit, и нужно знать, как с его помощью создавать интерфейсы. </p>
        <p><b>Обработка JSON.</b>  В iOS данные по сети передаются в специальном формате JSON, основанном на языке JavaScript. Нужно уметь читать этот формат и правильно интерпретировать переданную в нём информацию.</p>
        <p><b>Вёрстка приложений.</b> iOS-разработчики отвечают в том числе за внешний вид приложения. Для этого нужно уметь работать в графических редакторах типа Figma, Sketch, Zeplin, разбираться в описании интерфейса через код, а также во фреймворке UIKit или SwiftUI, который пришёл ему на смену.</p>
        <p><b>Оптимизация.</b> Приложение должно не просто работать, но ещё и оптимально использовать память и вычислительные ресурсы. Для этого нужно уметь оптимизировать его средствами самого кода и сторонними инструментами.
</p>
        <p><b>Работа в Git.</b> Приложения обычно пишут большие команды, поэтому у кода всегда есть несколько версий. Чтобы не запутаться в них и работать над кодом совместно, существует система Git и инструменты для работы в ней: GitHub, GitLab и другие. iOS-разработчик должен знать, как ими пользоваться.</p>
        <p><b>Программирование на языке Objective-C.</b>Этот навык не обязателен для профессии iOS-разработчика, но будет полезен для поддержки старых приложений, написанных до распространения Swift. Можно выучить его позже, когда уже будет освоен Swift и другие базовые навыки.</p>

    </div>

{% endblock%}