{% extends 'layout.html' %}

{% block title %}
    <h1 class="skill_name">Последние вакансии</h1>
{% endblock%}

{% block content %}
<h1 class="skill_name">Последние вакансии</h1>
    {% for i in skills %}
<div class="vacan-end"><h3 class="name-vac">{{i.name}}</h3>
        {{i.description|safe}}
        {% for i in skills %}
            {{i.name}},
        {% endfor %}
        <p class="inf">Компания: {{i.employer.name}}</p>
        <p class="inf">Зарплата: {{i.salary.from}} {{i.salary.to}} {{i.salary.currency}}</p>
        <p class="inf">Город: {{i.area.name}}</p>
        <p class="inf">Дата публикации: {{i.published_at|slice:10}}</p></div>
        {% endfor %}
{% endblock%}






