{% extends 'layout.html' %}

{% block title %}
<h1>Навыки</h1>
{% endblock%}

{% block content %}
<h1 class="skill_name">ТОП-10 навыков iOS-разработчика по годам</h1>
<div class="skills_com">
    {% for year in d_skill.items %}
    <table class="skills_table">
        <thead>
        <tr>
            <th>название</th>
            <th>количество повторений</th>
        </tr>
        </thead>
        <tbody>
        {% for skill in year.1 %}
        <tr>
            <th>{{skill.0}}</th>
            <th>{{skill.1}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock%}